@charset "UTF-8";

@media screen and (min-width: 768px) {
    section#login {
        width: 80vw;
        height: 300px;
    }
    div#img {
        display: inline-block;
        width: 30%;
        height: 100%;
        float: left;
    }
    div#form {
        display: inline-block;
        width: calc(70% - 20px);
        height: calc(100% - 20px);
        padding: 10px;
    }
    div#form > h1 {
        margin: -5px;
    }
    div#form > p {
        margin: 10px 0;
    }
    div.form {
        
        height: 40px;
    }
    div.form span {
        padding-top: 5px;
    }
    div.form input {
        transform: translateY(-3.5px);
    }
    
}
@media screen and (min-width: 992px) {
    section#login {
        max-width: 950px;
    }
    div#img {
        width: 50%;
        background-position: center bottom;
        float: right;
    }
    div#form {
        width: calc(50% - 20px);
    }
}